.navbar{
    background-color: #24292f;
    margin-bottom: 30px;

   

}



.nav-item{
    margin-right: 30px;
    content: "";
    height: 100%;
    left: 50%;
    min-height: 48px;
    top: 50%;


  
}

#starLink{
  margin-right:100px;
}
.navbar-brand{
    margin-right: 100px;
    color: rgba(255, 255, 255, 0.575);
}

 
/*sidebar left*/
.profile-image-container {
    padding: 20px;
    border: 0.1px rgba(255, 231, 231, 0.199);
    border-style: groove ;
    justify-content: center;
    display: flex;
}

.profile-name{
    justify-content: center;
    display: flex;
  
    font-weight: bolder;
    color: rgba(0, 0, 0, 0.616);

}
.profile-sm{
    justify-content: center;
    display: flex;
    margin-top: -12px;
    margin-bottom: 20px;
}
.profile-image{
    width: 220px;
    border-radius: 50%;
}

/**fonts*/
.fa-brands{
  font-size: 23px;
}

/*skills*/
.skills-container {
  background-color: #f6f8fa;
  padding: 10px;
  border-radius: 6px;
}

.skills-container h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.skills-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.skills-list li {
  font-size: 12px;
  margin-bottom: 8px;
}



/**github contribution table css*/

.repo-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 10px;
  width: 50%;
  border: 1px solid #e1e4e8;
  border-radius: 6px;
  background-color: #f6f8fa;
  width: 53vw;
  height: 100%;
  

  transition: box-shadow 0.3s ease;

}
.pinned-repo{
  font-weight: 600;
  

}
/*Github chart*/
.github-chart {
  
  height: auto;
  display: block;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .github-chart {
    max-width: 80%;
  }
}

@media (max-width: 480px) {
  .github-chart {
    max-width: 100%;
  }
}

.repo-card:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.37);
}

.repo-card h3 {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
}

.repo-card p {
  margin: 10px 0;
  font-size: 14px;
  color: #586069;
}

.repo-card a {
  text-decoration: none;
  color: #0366d6;
  font-size: 14px;
}

.repo-card a:hover {
  text-decoration: underline;
}

@media (max-width: 500px) {
  .repo-card {
    width: 100%;
    max-width: none;
    margin-right: 0;
  }
}


/**footer*/

footer {
  background-color: #f6f8fa;
  padding: 10px 0;
}

.footer-container {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.footer-links a {
  color: #586069;
  margin-right: 10px;
  text-decoration: none;
}

.footer-social a {
  color: #0366d6;
  margin-right: 10px;
  text-decoration: none;
}

.footer-social i {
  font-size: 18px;
}

.footer-links a:hover,
.footer-social a:hover {
  text-decoration: underline;
}


/**loading style*/

#loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f5f5f5;
}

#loading-container img {
  width: 100px;
}

/*repositories page style */

/*repositories page style */
#repositories {
  max-height: 600px;
  width: auto;
  overflow-y: auto;
}

.repository-card {
  border: 1px solid #e1e4e8;
  border-radius: 6px;
  padding: 16px;
  margin-bottom: 16px;
  position: relative;
}

.repository-card h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
}

.repository-card p {
  margin-bottom: 8px;
  color: #586069;
}
.language {
  display: inline-block;
  padding: 3px 6px;
  border-radius: 3px;
  color: #fff;
}

/*commits and update*/
.commits-container{
  border: 1px solid rgba(0, 0, 0, 0.185);
  padding: 10px;
  margin-bottom: 3px;
  margin-top: 5px;
}

.commit-card {
  background-color: #f1f1f1;
  border-radius: 8px;
  padding: 12px;
  margin-bottom: 5px;

  
}

.commit-card h4 {
  font-size: 10px;
  font-weight: bold;
  margin-bottom: 6px;
  
}

.commit-card p {
  font-size: 10px;
  margin-bottom: 6px;
}

.commit-card span {
  font-size: 10px;
  color: #777777;
}

.pagination-button {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 5px;
}

.pagination-button:hover {
  background-color: #0056b3;
}

.pagination-button.active {
  background-color: #0056b3;
}

.pagination-button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

/***Badge and stars css**/

.badge {
  background-color: #ffcc00;
  color: #fff;
  padding: 4px 8px;
  border-radius: 50%;
}

#notificationPopup {
  display: none;
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.column-centered{
  padding: 50px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


/*style for wesite page*/

#website-body{
  background-color: #535f6e;
  color: rgba(255, 255, 255, 0.877);

}

.landing{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;


}

.landing > h1 {
  font-weight: bolder;
  font-style: oblique;
  font-size: 36px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  background-color: transparent;

  
}

.landing > h5 {
  font-weight: bolder;
  font-style: oblique;
  font-size: 26px;
  width: 700px;
  margin-bottom: 80px;
  color: rgba(255, 255, 255, 0.637);
  background-color: transparent;
 



}

#website-search{
  width: 500px;
}

.column.centered {
  text-align: center;
}

.column.centered {
  text-align: center;
}

.category-button {
  margin-right: 10px;
  margin-bottom: 20px;
  margin-top: 12px;
  border-radius: 12px;
  font-size: 18px;
  padding: 10px;
  background-color: #fff;
  color: #000;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

.category-button {
  background-color: #f1f1f1;
  color: #333;

  border: none;
  margin-right: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.category-button:hover {
  background-color: #7192ff;
  color: white;
}
/* Custom CSS for the active button */
.category-button.active {
  background-color: #007bff;
  color: #fff;
}




#navigation-container {
  background-color: #c6e1ffaf;
  border-radius: 30px;
  padding: 10px;
  box-shadow: 0 0 300px rgba(71, 112, 248, 0.952);
}
/**website card style?*/
.card.website-cards {
  position: relative;
  margin: 30px;
 
}

btn btn-primary chip inline-button menu-item

.card-body {
  margin-top: 50px;
  font-weight: bolder;
  font-size: larger;
 
}


.card-img-wrapper {
  position: relative;
  perspective: 1000px;
  height: 200px;
}

.card-img-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.5s ease;

}

.card-img-center {
  z-index: 1;
  transform: translateX(50%) scale(1.3);
  height: 100%;



}


.card-img-left {
  transform: translateX(20%);
}


.card-img-right {
  transform: translateX(-20%);
  margin-left: 50%;
}



.card:hover .card-img-right {
  transform: translateX(7%) rotate(10deg) scale(1.1);
  transition: transform 0.5s ease;
}

.card:hover .card-img-left {
  transform: translateX(-7%) rotate(-10deg) scale(1.1);
  transition: transform 0.5s ease;
  overflow: visible;
}


.card-img-right,
.card-img-left {
  transition: transform 0.5s ease;
}


.card:hover .card-img-center {
  transform: translateX(50%) scale(1.05);
  transition: transform 0.5s ease;

}

.card-img-center {
  z-index: 1;
  display: block;
  margin: 0 auto;
  transition: transform 0.5s ease;
}

.website-cards{
  background: transparent;
  color: white;
  border-style: none;
  display: flex;
  text-align: center;
  padding: 5px;
  
}

.website-cards > img {
  width: 50%;
  

}

.card-img-left,.card-img-center,.card-img-right{
  width: 45%;
  border-radius: 10px;
  height: 110%;
  box-shadow: 50px 50px 50px 50px rgba(99, 108, 235, 0.116) ;

}

#webside-nav{
  background-color:  #3e4650;

}

.pagination {
  justify-content: center;
}

.pagination .page-item {
  margin: 0 3px;
  border-radius: 50%;
}

.pagination .page-link {
  border-radius: 20px;
 
}

#website-banner {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: #903dee71;
  font-weight: 700;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 30px 30px 30px 40px rgba(89, 0, 107, 0.534) ;
  margin-top: 90px;
  margin-bottom: 90px;

}

.banner-h1 {
  font-size: 70px;
  width: 100%;
  line-height: 6rem;
  color: rgba(255, 255, 255, 0.993);
}


.banner-h4 {
  font-size: 40px;
  line-height: 3.6rem;
  color: rgba(255, 255, 255, 0.685);
}

.myself{
  background-color: white;
  margin-bottom: 50px;
  color: black;
  padding: 25px;

}


.image-wrapper {
  margin-bottom: 10px;
  display: flex;
}


.my-image{
  border-radius: 50%;
  width: 250px;
  height: auto;
}
.team-heading {
  font-weight: 700;
  font-size: 2.5rem;
  color: rgba(0, 0, 0, 0.79);
  }

.my-description{
  padding: 15px;
  display: flex;
  text-align: center;
}

.my-description > h5 {
  line-height: 2rem;
  font-weight: 900;
  font-size: 27px;
  margin: 10px;
  font-style: italic;
  color: #00000080;

}