.navbar{
    background-color: #24292f;
    margin-bottom: 30px;

   

}
#nav_search{
    width: 300px;
}

.nav-item{
    margin-right: 30px;
    content: "";
    height: 100%;
    left: 50%;
    min-height: 48px;
    top: 50%;
  
}
.navbar-brand{
    margin-right: 50px;
}

 
/*sidebar left*/
.profile-image-container {
    padding: 20px;
    border: 0.1px rgba(255, 231, 231, 0.199);
    border-style: groove ;
    justify-content: center;
    display: flex;
}

.profile-name{
    justify-content: center;
    display: flex;
  
    font-weight: bolder;
    color: rgba(0, 0, 0, 0.616);

}
.profile-sm{
    justify-content: center;
    display: flex;
    margin-top: -12px;
    margin-bottom: 20px;
}
.profile-image{
    width: 220px;
    border-radius: 50%;
}

/**fonts*/
.fa-brands{
  font-size: 23px;
}

/*skills*/
.skills-container {
  background-color: #f6f8fa;
  padding: 10px;
  border-radius: 6px;
}

.skills-container h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.skills-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.skills-list li {
  font-size: 12px;
  margin-bottom: 8px;
}



/**github contribution table css*/

.repo-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 10px;
  width: 50%;
  border: 1px solid #e1e4e8;
  border-radius: 6px;
  background-color: #f6f8fa;
  width: 53vw;
  height: 100%;
  

  transition: box-shadow 0.3s ease;

}
.pinned-repo{
  font-weight: 600;
  

}
/*Github chart*/
.github-chart {
  
  height: auto;
  display: block;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .github-chart {
    max-width: 80%;
  }
}

@media (max-width: 480px) {
  .github-chart {
    max-width: 100%;
  }
}




style="font-weight: 600; margin-top: 20px; margin-bottom: 15px;"
.repo-card:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.37);
}

.repo-card h3 {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
}

.repo-card p {
  margin: 10px 0;
  font-size: 14px;
  color: #586069;
}

.repo-card a {
  text-decoration: none;
  color: #0366d6;
  font-size: 14px;
}

.repo-card a:hover {
  text-decoration: underline;
}

@media (max-width: 500px) {
  .repo-card {
    width: 100%;
    max-width: none;
    margin-right: 0;
  }
}


/**footer*/

footer {
  background-color: #f6f8fa;
  padding: 10px 0;
}

.footer-container {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.footer-links a {
  color: #586069;
  margin-right: 10px;
  text-decoration: none;
}

.footer-social a {
  color: #0366d6;
  margin-right: 10px;
  text-decoration: none;
}

.footer-social i {
  font-size: 18px;
}

.footer-links a:hover,
.footer-social a:hover {
  text-decoration: underline;
}
