.navbar{
    height: 80px;
    background-color: black;
    
   
}

.navbar-brand{
    margin-right: 70px;
    margin-left: -20px;

}

.navbar-brand,.nav-item > a{
    color: white;
}

.nav-item > a {
    margin-right: 40px;
}